@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

h1 {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 22px;
    top: 90px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

h2 {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
    top: 96px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.container1 h1, .container2 h1, .container3 h1 {
justify-content: center;
position: relative;
top:0;
}