.hero {
    display: flex;
    grid-area: hero;
    height: 75vh;
    width: auto;
    background-image: url("../../assets/images/tinifiedFLY/plane.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.windowSeat {
    flex: 40%;
    height: 300px;
    width: 35%;
    background-image: url("../../assets/images/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-wrap: wrap;
    flex-flow: column;
    padding-top: 100px;
    padding-bottom: 100px;
}